extends layout

block headLink
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    

block content
    div(style="width:320px;")
        button(id="play",style="width:100px;height:40px;margin-right:10px;") 播放
        button(id="pause",style="width:100px;height:40px;margin-right:10px;") 暂停
        br
        br
        button(id="gift1",style="width:100px;height:40px;margin-right:10px;") 送礼物1
        button(id="gift2",style="width:100px;height:40px;margin-right:10px;") 送礼物2

block bodyScript
    script(src="/javascripts/jquery-1.10.2.js")
    script(src="/javascripts/client.js")
