doctype html
html
    head
        title= title

        link(rel='stylesheet', href='/stylesheets/style.css')
        
        block headLink

        block headScript

  body
    block content

    script(src="/socket.io/socket.io.js")

    block bodyScript
